*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: white;
    color: black;
    line-height: 1.6;

}

nav{
    background-color: black;
    color: white;
    padding: 20px;
    
    width: 100%;
}

nav a:hover{
    color:gray;
}

.one li{
    display: inline;
}

nav a {
    color:white;
    text-decoration: none;
    margin: 0 15px;
    cursor:pointer;
}

img{
    align-content: center;
    shape-outside: circle();
    size: 100px;
}
header h1,p{
    text-align: center;
}   
